@import "../breakpoints.scss";

.no-webp,
.no-js {
  --newsletter-bg: url("./images/newsletter-bg.jpg");
}

.webp {
  --newsletter-bg: url("./images/newsletter-bg.webp");
}

.newsletter {
  border-top: 1px solid hsla(118, 30%, 50%, 0.4);
  background-image: var(--newsletter-bg);

  background-color: rgba(#00140e, 0.8);
  background-blend-mode: overlay;

  padding: 1rem 0;

  @include desktop-bp() {
    display: grid;
    grid-template-columns: 1fr min(100%, 1400px) 1fr;
    grid-template-areas:
      ". header ."
      ". form .";
  }

  h2 {
    grid-area: header;

    text-align: center;
    line-height: 1;

    @include desktop-bp() {
      font-size: 4rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: form;
    justify-self: center;

    & :not(:first-child) {
      margin-top: 1rem;
    }

    @include desktop-bp() {
      align-items: flex-end;
    }
  }

  label {
    width: min(512px, 90%);
    margin-bottom: -0.5rem;
    color: #c2c2c2;
  }

  input[type="text"] {
    font-family: "Lato", sans-serif;
    width: 100%;
    font-size: 1.5rem;
    color: #111;
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;

    &:focus {
      outline: none;
      border-color: hsl(118, 30%, 50%);
    }
  }

  input[type="submit"] {
    width: min(256px, 45%);
  }
}
