@import "./styles/breakpoints.scss";

.no-webp,
.no-js {
  --social-bg-img: url("./images/social-bg.jpg");
}

.webp {
  --social-bg-img: url("./images/social-bg.webp");
}

.social {
  min-height: 50vh;
  background-image: var(--social-bg-img);

  @include desktop-bp() {
    padding-bottom: 2rem;
    
    display: grid;

    grid-template-columns: 1fr 2fr min(3fr, 720px) 1fr;
    grid-template-areas:
      ". streaming video ."
      ". cover preorder .";

    h2 {
      font-size: calc(3.5rem + 2vw);
    }
  }

  .preorder {
    grid-area: preorder;

    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;

    @include desktop-bp() {
      justify-self: center;
      text-align: center;

      a {
        font-size: calc(2rem + 1vw);
      }

      h2 {
        font-size: calc(4rem + 3vw);
      }
    }
  }

  .music-video {
    grid-area: video;

    position: relative;
    top: -3rem;

    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;

    @include desktop-bp() {
      top: -20%;
      background: none;
    }
  }

  .music-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .album-cover {
    grid-area: cover;
    place-self: center;

    width: 80%;
    max-width: 448px;
    margin: 1rem auto;

    img {
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.5rem;
    }

    @include desktop-bp() {
      margin: 0;

      img {
        position: relative;
        top: -40px;
        background: none;
      }
    }
  }

  .streaming {
    grid-area: streaming;

    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & :last-child {
      margin-bottom: 1rem;
    }

    @include desktop-bp() {
      
    }
  }
}
